<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- No dangerous permissions or QUERY_ALL_PACKAGES are declared. File inspection only uses user-selected SAF URIs. -->

    <application
        android:name=".ThirdPartyInspectorApplication"
        android:allowBackup="false"
        android:label="ThirdPartyInspector">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
